<nz-form-label>Please enter a pick station</nz-form-label>
<br />
<nz-select [(ngModel)]="trip.from_station.id" nzPlaceHolder="Choose">
    <nz-option *ngFor="let data of optionList; let x = index" nzValue="{{optionList[x].id}}"
        nzLabel="{{optionList[x].name}}"></nz-option>
</nz-select>
<br />
<nz-form-label>Please enter a station to arrive in</nz-form-label>
<br />
<nz-select [(ngModel)]="trip.to_station.id" nzPlaceHolder="Choose">
    <nz-option *ngFor="let data of optionList; let m = index" nzValue="{{optionList[m].id}}"
        nzLabel="{{optionList[m].name}}"></nz-option>
</nz-select>
<br />
<nz-form-label>Please a start date</nz-form-label>
<br />
<nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="trip.start_time"
    (ngModelChange)="onChange($event)" (nzOnOk)="onOk($event)"></nz-date-picker>
<br />
<nz-form-label>Please an end date</nz-form-label>
<br />
<nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="trip.end_time" (ngModelChange)="onChange($event)"
    (nzOnOk)="onOk($event)"></nz-date-picker>
<br />
<br />
<button (click)="createTrip()" nz-button nzType="primary">Create trip</button>